<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my template</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
   <!--header class='bourse_header'>
      <nav role ="navigation" class=""></nav>
       
       
   </header-->
   
   
   
   
    <div id="_" class="bourse_header">

    <nav class="top-bar show-for-large-up" data-topbar role="navigation">
<ul class="title-area">
    <li class="name">
    <!--span><a href="http://www.lesjeudis.com" title="Home lesjeudis"> <img title="Offres d&#39;emploi informatique" title="Offres d&#39;emploi informatique sur lesjeudis.com" src="http://img.icbdr.com/images/UniversalHeaderFooter/cb-logo-lj-2.png" alt="Offres d&#39;emploi informatique sur lesjeudis.com" border="0" /></a></span-->
    </li>
</ul>
<section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
    <li class="has-dropdown">
        <a>Offres d'emploi</a>
        
    </li>
    
    <li id="_ctl0_liEspacePerso" class="has-dropdown">
        <a>Mon espace personnel</a>
        <!--ul class="dropdown">
            <li><a id="_ctl0_cbhlPostResumeInDD" title="Poster un CV" href="https://www.lesjeudis.com/jobseeker/postnewresume.aspx">Déposer un CV</a></li>
            <li><a id="_ctl0_cbhlManageLetter" title="Gérer mes lettres de motivations" href="http://www.lesjeudis.com/lj/jobseeker/mydocs.aspx">Mes lettres de motivations</a></li>
            <li><a id="_ctl0_cbhlManageAlert" title="Gérer mes candidatures" href="http://www.lesjeudis.com/lj/jobseeker/jobalerts/myjobalertsmanager.aspx">Mes alertes</a></li>
            <li><a id="_ctl0_cbhlManageApp" href="http://www.lesjeudis.com/lj/jobseeker/myapplications.aspx">Mes candidatures</a></li>
            <li><a id="_ctl0_cbhlManageUser" title="Gérer mes informations" href="https://www.lesjeudis.com/share/userinfo.aspx">Mes informations</a></li>
        </ul-->
    </li>
    <li class="has-dropdown">
        <a>News et Conseils</a>
        

    <!-- Right Nav Section -->
    <ul class="right">
    <li><a id="_ctl0_cbhllogin" title="se déconnecter" href="http://www.lesjeudis.com/share/logout.aspx"><i class="fa fa-sign-out fa-lg"></i> se déconnecter</a></li>
    
    </ul>
</section>
</nav>
    
    </div>
   
   
    
</body>
</html>